* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 22px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(236, 185, 66);
    line-height: 44px;

    background-color: rgb(31, 42, 25);

}

#link {
    color:hwb(340 48% 0%);
    font-size: 15px;
    top: -50px;
    font-family:'Courier New', Courier, monospace;
    display: inline-block;
    background-color: pink;
    padding: 2px 5px;
    border-radius: 10px;
    box-shadow:  2px 4px 10px rgb(104, 62, 76);
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20px;
}
    #link:hover {
        color: pink;
        background-color: hwb(340 48% 0%);
    }
