* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 22px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(236, 185, 66);
    line-height: 44px;
    background-color: rgb(31, 42, 25);
    margin-left: 20px;
    
}

#link {
    color:hwb(43 4% 29%);
    font-size: 15px;
    top: -50px;
    font-family:'Courier New', Courier, monospace;
    display: inline-block;
    background-color: hwb(43 36% 8%);
    padding: 2px 5px;
    border-radius: 10px;
    box-shadow:  2px 4px 10px rgb(145, 122, 7);
    margin-bottom: 20px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
    
}
    #link:hover {
        color: hwb(43 36% 8%);
        background-color: hwb(43 4% 29%);
    }

header {
    width: 100%;
    background-color: black;
    padding: 20px;
    position: fixed;
    left: -0px;
}   