* {
    margin: 0%;
    padding: 0%;
    box-sizing:border-box
   }
   
   body {
       font-family: 'Courier New', Courier, monospace;
       color: rgb(69, 31, 33);
       background-color: rgb(251, 186, 186);
   }
   
   #gallery {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;  
       gap: 9px;
       margin-left: 20px;
   }
   
   section {
       display: block;
       unicode-bidi: isolate;
   }
   
   h2 {
       display: block;
       font-size: 1.5cm;
   }
   
   img {
       width: 100%;
       height: auto;
   }
   
   .grid-item img {
       width: 100%;
   }

   #plan {
    color:hwb(0 0% 100%);
    font-size: 15px;
    font-family:'Courier New', Courier, monospace;
    display: inline-block;
    background-color: rgb(255, 252, 248);
    padding: 20px 15px;
    border-radius: 20px;
    border: 2px solid hwb(353 48% 0%);
    box-shadow:  2px 4px 10px rgb(212, 153, 174);
    margin-bottom: 20px;
   }

   #link {
    color:hwb(341 5% 60%);
    font-size: 15px;
    top: -50px;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: hwb(350 37% 5%);
    padding: 3px 10px;
    border-radius: 10px;
    box-shadow:  2px 4px 10px rgb(195, 78, 121);
    margin-bottom: 20px;
    margin-left: 20px;

}

#link:hover {
    color: hwb(350 37% 5%);
    background-color: hwb(341 5% 60%);
}

