* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(173, 240, 248);
}
#container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 30px;
}
.grid-item {
    background-color: hotpink;
    min-height: 300px;
}
/* individual tiles */
.grid-item.a{
    background-color: antiquewhite;
}
.grid-item.b{
    background-color: rgb(215, 250, 215);
}
.grid-item.c{
    background-color: rgb(250, 215, 243);
}
.grid-item.d{
    background-color: rgb(255, 255, 255);
}
.grid-item.e{
    background-color: rgb(226, 215, 250);
}
.grid-item.f{
    background-color: rgb(154, 167, 248);
}
.grid-item.g{
    background-color: rgb(157, 254, 228);
}
.polaroid {
    box-shadow: 3px 12px 20px #4997d2;
    border: 20px solid white;
    border-bottom: 60px solid white;
} 
#container {
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.grid-item img {
    width: 100%;
}